body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/106/492/non_2x/spider-web-background-free-vector.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
}
#myImage {
    width: 400px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 10px;
}
h1 {
    color: #00e5ff; /*helo el css balshet et3ama2 fe shway 3am et3alam kam sha8le 3la 5afef*/
}
